#header {
    height: 40px;
    width: 100%;
    background-color: #2333c0;
    text-align: start;
    
  }
  #title {
    margin-left: 3%;
  }
  .left {
    height: 100%;
    width: 10%;
    background-color: #e0eeee;
    float: left;
   position:initial;
   display: block;
  }

  