#footer {
  margin-top: 1000px;
  height: 50px;
  width: 100%;
left: 0;
background-color:  #343c4a;
color: white;
text-align: center;
align-items: center;
position: fixed;
bottom: 0;

  }


  #name {
    font-family: Sacramento;
    margin-top: 10px;
    text-align: center;
  }

  

 