#footer {
  margin-top: 10%;
  height: 50px;
  width: 100%;
left: 0;
background-color:  #343c4a;
color: white;
text-align: center;
position:relative;
align-items: center;

  }


  #name {
    font-family: Sacramento;
    float: right;
    margin-top: 10px;
    text-align: start;
  }

  

 