#footer {

  height: 50px;
  width: 100%;
left: 0;
bottom: 0;
background-color:  #343c4a;
color: white;
text-align: center;
align-items: center;
position:relative;


  }


  #name {
    font-family: Sacramento;
    margin-top: 10px;
    text-align: center;
  }

  @media only screen and (min-device-height: 300px) and (orientation:landscape) {
  
   #footer{
    visibility: hidden;
    background-color:  #343c4a;
   }
  
  }
 