
* {
  width: 80%;

}
.vl {
  border-left: 1px solid black;
  height: 100%;
}

.content {
  display:flexbox;
  margin-top: 10px;
  margin: auto;
  align-items: center;
  width: 100%;
  
}

p,
li {
  font-family: 'Cormorant Garamond';
}

.head { 
  font-size: 20px;
  text-align: center;
}