
* {
    width: 80%;
    margin: auto;
    
  }
  
  
  .head { 
    font-size: 20px;
    text-align: center;
  }
  

.content {
  
  display: flexbox;
   align-items: center;
   width: 100%;
   margin-left: 10%;
   
   
 }