
* {
    width: 80%;
    margin: auto;
    
  }
  .vl {
    border-left: 1px solid black;
    height: 500px;
  }
  
  .content {
    display: inline-block;
    margin-top: 10px;
   
    align-items: center;
    width: 100%;
    
  }
  
  p,
  li {
    font-family: 'Cormorant Garamond';
  }
  
  .head { 
    font-size: 20px;
    text-align: center;
  }