<div class="content">
<p class="head" fxLayoutAlign.gt-sm="center center">Interests</p>
<div class="vl">
<ul fxLayout="column" fxLayoutAlign.gt-sm="center center">
  Reading<br>
  I like to read Japanese novels and manga.<br>
  Podcasting<br>
  listening to people tell me different experiences that they have come across.<br>
  Design<br>
  likes to go to exhibitions<br>
  Programming<br>
  I'm interested in writing software. I prefer working with computers to people.<br>
  
</ul>
</div>
<br> </div>