

  <h2 class="head"  >Interests</h2>
  <hr>
   
  
    
    
    

 
  <div class="dot" ></div><a>Reading</a><div class="content"> <p>
  I like to read Japanese novels and manga. <br></p></div>
 
  <div class="dot" ></div><a>PodCasting</a><div class="content"><p>
  listening to people tell me different experiences that they have come across.</p></div>
  
  <div class="dot" ></div><a>Design</a><div class="content"><p>
  likes to go to exhibitions</p></div>
 
  <div class="dot" ></div><a>Programming</a><div class="content"><p>
  I'm interested in writing software. I prefer working with computers to people.</p></div>
  

 
