<div class="content">
  <p class="head" fxLayoutAlign.gt-sm="center center">Interests</p>
  

    <h2>Reading</h2>
    I like to read Japanese novels and manga.
   <h2>Podcasting</h2> 
    listening to people tell me different experiences that they have come across.
    <h2>Design</h2>
    likes to go to exhibitions
    <h2>Programming</h2>
    I'm interested in writing software. I prefer working with computers to people.
    
  <div class="footer" fxHide.gt-sm="true">
    <h2 id="name">Sittichok Phothongkam</h2>
  </div>
 
  </div>