<h2 class="head"  >Skills</h2>
  <hr><div class="dot" ></div><a> As a student, I learned a lot of<a><a class="md" fxHide.lt-sm="true" >programming languages.</a><br>
  <a class="sm" fxHide.gt-xs="true">programming languages.</a>
<div class="content">

           <p>
           
            Web Design<br>
           C++/C# <br>
           JAVA Programming<br>
            HTML/CSS <br>
           PHP/SQL
          
          </p>
        </div>
        <app-footer fxHide.gt-sm="true"></app-footer> 
