<body >
<app-sidenav fxHide.lt-md="true"></app-sidenav>

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <app-sidenav></app-sidenav>
    
  </mat-drawer>


    <button   fxHide.gt-sm="true"  type="button" class="btnright" mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
 

</mat-drawer-container>

           
             
              <div  class="content" >
                
                <br><br>
                <div fxLayout.sm="column"  fxLayout.xs="column"  >
              
                  <img fxHide.gt-sm="fales" fxFlex.lt-sm="50"  fxFlex.xs="20" class="img" src="assets/3.jpg" alt="image"><br>
                <h2 class="head"  >Sittichok Phothongkam </h2>
                  <br> 
                  <div class="name" >
                  My name is Sittichok. I am 22 years old graduate from technology ratchamongkol krungthep computer science major</div>
                  <br>
                 
<router-outlet ></router-outlet>

  </div><app-footer fxHide.gt-xs="true" class="footmd"></app-footer> </div> 
  <app-footer fxHide.gt-sm="true" fxHide.xs="true"></app-footer><app-footer fxHide.gt-xs="true" class="footsm"></app-footer> 
</body>



              
            
  



   

    
  
   

