<body >
<app-sidenav fxHide.xs="true"></app-sidenav>

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <app-sidenav></app-sidenav>
    
  </mat-drawer>


    <button  fxHide.gt-xs="true" fxHide.gt-xs="true" type="button" class="btnright" mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
 

</mat-drawer-container>

            <div fxLayout.sm="row" >
             
              <div  class="content" >
                
                <br><br>
                <div fxLayout.sm="column"  fxLayout.xs="column"  >
              
                
         
                  <img fxHide.gt-xs="fales" fxFlex.lt-sm="50"  fxFlex.xs="20" class="img" src="assets/FB_IMG_1667897276673 (1).jpg" alt="image"><br>
                <h2 class="head"  >Sittichok Phothongkam </h2>
                  <br> 
                  <div class="name" >
                  My name is Sittichok. I am 22 years old graduate from technology ratchamongkol krungthep computer science major</div>
                  
                  <hr>
<router-outlet ></router-outlet>
  </div>   </div>   </div> 

</body>

              
            
  



   

    
  
   

