





#title {
  margin-left: 3%;
}





.content {
  
 display: flexbox;
  align-items: center;
  width: 50%;
  margin-left: 35%;
  height: 80%;
  
  
}


li {
  font-family: 'Cormorant Garamond';
}

.head { 
  font-size: 42px;
  text-align: center;

}

#name {
  font-family: Sacramento;
  float: right;
  margin-top: 10px;
  margin-left: 10%;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

#title{
 
  font-size: 44px;
  text-align: start;
  color: wheat;
}
