
<app-sidenav></app-sidenav>

      
          
            <div fxLayout.sm="row" >
              <div  class="content">
                <br><br>
                <div fxLayout.sm="column"  fxLayout.xs="column"  >
              
                
         
                
                <h2 class="head" >Sittichok Phothongkam </h2>
                  <br> 
                  <div class="name" >
                  My name is Sittichok. I am 22 years old graduate from technology ratchamongkol krungthep computer science major</div>
                  
                  <hr>
<router-outlet></router-outlet>
  </div>   </div>   </div> 



              
            
  



   

    
  
   

