<div class="left"  fxFlexAlign.sm="start" >
    <div fxLayout="column" > 
      <img  fxFlex.lt-sm="50"  fxFlex.xs="20" class="img" src="assets/FB_IMG_1667897276673 (1).jpg" alt="image">
      <br>
      <button  mat-button routerLink="interests" routerLinkActive="active" ariaCurrentWhenActive="page">Interests</button>
              <button mat-button routerLink="skills" routerLinkActive="active" ariaCurrentWhenActive="page">Skills</button>
              <button mat-button routerLink="education" routerLinkActive="active" ariaCurrentWhenActive="page">Education</button>
              <button mat-button routerLink="contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</button>
      
      </div>
    
    </div>
