
.left {
    height: 100%;
    width: 20%;
    background-color: #343c4a;
    float: left;
   position:fixed;
   display: inline-block;
   overflow-x: hidden; 
   text-align:justify; 
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, 
   rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   
  }

  .vl {
    border-left: 1px solid black;
    height: 100%;
  }
img{
    height: auto;
    display: block;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
     rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  button{
    display:inline-block;
    padding:0.35em 1.2em;
    margin-top: 10px;
     color: white;
     font-size: 18px;
   margin-left: 5%;
   text-align: start;
    margin-right: 15%;
     
  }
  
  .text{
    color: rgb(201, 194, 194);
    margin-left: 10px;
    text-align: start;
   margin-left: 10%;
   font-size: 16;
    
  }

  @media (orientation: portrait) {
    .left {
      height: 100%;
      width: 35%;
      background-color: #343c4a;
      float: left;
     position:fixed;
     display: block;
      
     
    }
    
  }
 