
.left {
    height: 100%;
    width: 25%;
    background-color: #343c4a;
    float: left;
   position:initial;
   display: block;

   
  }

  .vl {
    border-left: 1px solid black;
    height: 100%;
  }
img{
    height: auto;
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 50%;
  }
  button{
    margin-top: 10px;
    font-size: 20px;
     border-bottom: 1px solid white;
     color: white;
  }
  .text{
    color: white;
    margin-left: 10px;
    text-align: center;
    font-size: 16px;
  }