
<div class="left"    fxFlexAlign.sm="start" >
    <div fxLayout="column" > 
      <img  fxHide.lt-md="true" fxFlex.lt-sm="50"   class="img" src="assets/3.jpg" alt="image">
      <br>
      <button  mat-button routerLink="interests" routerLinkActive="active" ariaCurrentWhenActive="page">Interests <hr></button>
   <div class="text"  fxHide.lt-lg="true" >  
  Reading <br>
  Podcasting<br>
  Design<br>
  Programming<br>
  Computer Science  <br>
</div> 
              <button  mat-button routerLink="skills" routerLinkActive="active" ariaCurrentWhenActive="page">Skills<hr></button>
              <div class="text" fxHide.lt-lg="true" >  
               <a> Web Design <br>
                C++/C# <br>
                JAVA Programming<br>
                 HTML/CSS <br>
                PHP/SQL<br></a>
              </div> 
              <button mat-button routerLink="education" routerLinkActive="active" ariaCurrentWhenActive="page">Education<hr></button>
              <div class="text" fxLayout="column"  fxHide.lt-lg="true" >  
              rajamangala university of technology krungthep<br>
                soongsumarnphadungwit school

              </div>
              
              <button mat-button routerLink="contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact<hr></button>
              <div class="text"  fxHide.lt-lg="true" > 
               Tell : 0877585527<br>
                Email : SittichokPluem@gmail.com

              </div>
              <button mat-button routerLink="/random-user" routerLinkActive="active" ariaCurrentWhenActive="page">Randdom user<hr></button>
             
             
      
      </div>
    
    </div>

