<div class="left"  fxFlexAlign.sm="start" >
    <div fxLayout="column" > 
      <button  mat-button routerLink="interests-component" routerLinkActive="active" ariaCurrentWhenActive="page">Interests</button>
              <button mat-button routerLink="skills-component" routerLinkActive="active" ariaCurrentWhenActive="page">Skills</button>
              <button mat-button routerLink="education-component" routerLinkActive="active" ariaCurrentWhenActive="page">Education</button>
              <button mat-button routerLink="contact-component" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</button>
      
      </div>
    
    </div>
